# Health Insurance Claims Analysis
#### The following analysis was performed on a sample of the Health Insurance Claims Data from the state of Utah that were filed in 2016. The intention was to train and test machine learning algorithms on the data to predict the cost of a procedure based on features I engineered. Because caesarian sections are the most common procedure performed in the United States, I focused my initial analysis on that procedure. I discovered that the costs are not predictable using regression analysis, and there's a much larger story. Further digging revealed that insurance companies often negotiate directly with hospitals to set the price of what they're willing to pay for a procedure, regardless of the specifics of the patient. I'm working on expanding my project using the data pipeline I've established to look at whether my result holds true for additional procedures.

In [21]:
import pandas as pd
import numpy as np
from scipy import stats
from datetime import datetime
from sklearn import preprocessing
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')

In [22]:
caesarian_df = pd.read_csv('caesarian_data.csv', index_col=[0])

#### The short coming of using the five digit CPT4 code is that there are claims that will have that same code as part of their claim number. To eliminate those claims from the data, create a new data frame that is the claims that have those five numbers in the appropriate column as opposed to anywhere in the row.

In [23]:
caesarian_df2 = caesarian_df[caesarian_df['CPT4_ID'] == ('59510')]
caesarian_df2

,Claim_Line_No,Place_of_Service_Cd,Rev_Cd,CPT4_ID,CPT4_Mod1_Cd,CPT4_Mod2_Cd,CPT4_Mod3_Cd,CPT4_Mod4_Cd,Service_Start_Dt,Units,...,NDC_Cd,Capitation_Flag,ER_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt,Dental_Flag,Unit_Of_Measure_Cd,Unit_Of_Measure_Desc,Service_Start_Year
Claim_ID,,,,,,,,,,,,,,,,,,,,,
340993570,1,21,NaN,59510,,,,,2016-07-29,1,...,0,N,N,0.0,715.54,715.54,N,UN,Units,2016
350588632,1,21,NaN,59510,,,,,2016-06-27,1,...,0,N,N,0.0,641.99,0.00,N,UN,Units,2016
357047267,1,21,NaN,59510,UC,,,,2016-10-17,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
340423363,1,21,NaN,59510,,,,,2016-02-21,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171159994,1,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,295.52,0.00,N,UN,Units,2016
171159994,2,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171175684,1,21,NaN,59510,,,,,2016-01-31,1,...,0,N,N,0.0,277.24,0.00,N,UN,Units,2016
171175684,2,21,NaN,59510,,,,,2016-01-31,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171157745,1,99,NaN,59510,,,,,2016-02-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171156293,1,21,NaN,59510,,,,,2016-01-29,1,...,0,N,N,0.0,436.80,0.00,N,UN,Units,2016
171156293,2,21,NaN,59510,,,,,2016-01-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171184685,1,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,0.00,449.96,N,UN,Units,2016
171184685,2,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171184622,1,21,NaN,59510,,,,,2016-01-12,1,...,0,N,N,0.0,352.48,0.00,N,UN,Units,2016
171184622,2,21,NaN,59510,,,,,2016-01-12,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171173970,1,21,NaN,59510,,,,,2016-01-06,1,...,0,N,N,0.0,147.76,0.00,N,UN,Units,2016
171173970,2,21,NaN,59510,,,,,2016-01-06,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171108933,1,11,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,249.52,0.00,N,UN,Units,2016
171108933,2,11,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
340423574,1,21,NaN,59510,,,,,2016-02-04,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171056401,1,21,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,0.00,1477.59,N,UN,Units,2016
171056401,2,21,NaN,59510,,,,,2016-01-04,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171102679,1,21,NaN,59510,,,,,2016-01-11,1,...,0,N,N,0.0,0.00,1477.59,N,UN,Units,2016
171102679,2,21,NaN,59510,,,,,2016-01-11,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
306678225,1,21,NaN,59510,,,,,2016-07-11,1,...,0,N,N,0.0,258.57,0.00,N,UN,Units,2016
171103095,1,21,NaN,59510,22,,,,2016-01-13,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171103095,2,21,NaN,59510,22,,,,2016-01-13,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
357119550,1,21,NaN,59510,UC,,,,2016-07-01,1,...,0,Y,N,0.0,0.00,1502.27,N,UN,Units,2016
357119551,1,21,NaN,59510,UC,,,,2016-11-09,1,...,0,Y,N,0.0,0.00,0.00,N,UN,Units,2016
171082475,1,21,NaN,59510,,,,,2016-01-11,1,...,0,N,N,0.0,497.99,864.16,N,UN,Units,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171214558,2,21,NaN,59510,,,,,2016-03-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171213348,1,21,NaN,59510,22,,,,2016-02-29,1,...,0,N,N,0.0,0.00,201.02,N,UN,Units,2016
171213348,2,21,NaN,59510,22,,,,2016-02-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171269130,1,21,NaN,59510,,,,,2016-04-07,1,...,0,N,N,0.0,443.28,0.00,N,UN,Units,2016
171269130,2,21,NaN,59510,,,,,2016-04-07,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
340422949,1,21,NaN,59510,,,,,2016-02-29,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171202717,1,21,NaN,59510,,,,,2016-02-11,1,...,0,N,N,0.0,375.66,0.00,N,UN,Units,2016
171202717,2,21,NaN,59510,,,,,2016-02-11,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171202360,1,21,NaN,59510,,,,,2016-03-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171202360,2,21,NaN,59510,,,,,2016-03-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
357042557,1,21,NaN,59510,UC,,,,2016-10-17,1,...,0,Y,N,0.0,0.00,144.45,N,UN,Units,2016
171239156,1,21,NaN,59510,,,,,2016-03-16,1,...,0,N,N,0.0,149.52,500.00,N,UN,Units,2016
171239156,2,21,NaN,59510,,,,,2016-03-16,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171198152,1,21,NaN,59510,,,,,2016-02-16,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171198152,2,21,NaN,59510,,,,,2016-02-16,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171268246,1,21,NaN,59510,,,,,2016-03-06,1,...,0,N,N,0.0,0.00,2415.00,N,UN,Units,2016
171194895,1,21,NaN,59510,,,,,2016-02-09,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171189417,1,21,NaN,59510,,,,,2016-02-19,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171189367,1,21,NaN,59510,,,,,2016-02-24,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171188123,1,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,138.88,0.00,N,UN,Units,2016
171188123,2,21,NaN,59510,,,,,2016-02-18,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171125385,1,21,NaN,59510,,,,,2016-01-20,1,...,0,N,N,0.0,0.00,1547.39,N,UN,Units,2016
171125229,1,21,NaN,59510,,,,,2016-01-18,1,...,0,N,N,0.0,122.59,0.00,N,UN,Units,2016
171125229,2,21,NaN,59510,,,,,2016-01-18,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171171556,1,99,NaN,59510,,,,,2016-02-08,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,1,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,2,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,3,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169542,4,21,NaN,59510,,,,,2016-02-05,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016
171169031,2,21,NaN,59510,,,,,2016-02-15,1,...,0,N,N,0.0,0.00,0.00,N,UN,Units,2016

## Data Cleaning

#### It is not useful or necessary to use all of the columns for the analysis. Some are explanations of other columns, need to be turned into numeric values to be useful, or mostly populated by missing, null, or NaN values that limit their usefulness. Start by taking a look at the full list of columns and making decisions on what will be useful.

In [24]:
list(caesarian_df2.columns.values)

['Claim_Line_No',
 'Place_of_Service_Cd',
 'Rev_Cd',
 'CPT4_ID',
 'CPT4_Mod1_Cd',
 'CPT4_Mod2_Cd',
 'CPT4_Mod3_Cd',
 'CPT4_Mod4_Cd',
 'Service_Start_Dt',
 'Units',
 'Charge_Amt',
 'Prepaid_Amt',
 'Plan_Paid_Amt',
 'NDC_Cd',
 'Capitation_Flag',
 'ER_Flag',
 'Copay_Amt',
 'Coinsurance_Amt',
 'Deductible_Amt',
 'Dental_Flag',
 'Unit_Of_Measure_Cd',
 'Unit_Of_Measure_Desc',
 'Service_Start_Year']

#### Remove columns that are redundant (i.e. descriptive of another column in the table) or contain only one value

In [25]:
edited_caesarian_df = caesarian_df2.drop(['Claim_Line_No','Dental_Flag', 'Units', 'Rev_Cd', 'NDC_Cd', 'ER_Flag', 'Service_Start_Year', 'Unit_Of_Measure_Desc', 'Unit_Of_Measure_Cd'], axis=1)
edited_caesarian_df

,Place_of_Service_Cd,CPT4_ID,CPT4_Mod1_Cd,CPT4_Mod2_Cd,CPT4_Mod3_Cd,CPT4_Mod4_Cd,Service_Start_Dt,Charge_Amt,Prepaid_Amt,Plan_Paid_Amt,Capitation_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt
Claim_ID,,,,,,,,,,,,,,
340993570,21,59510,,,,,2016-07-29,3350.00,0.00,1669.58,N,0.0,715.54,715.54
350588632,21,59510,,,,,2016-06-27,3500.00,0.00,688.25,N,0.0,641.99,0.00
357047267,21,59510,UC,,,,2016-10-17,3586.00,0.00,2029.14,Y,0.0,0.00,0.00
340423363,21,59510,,,,,2016-02-21,3800.00,1932.28,96.22,N,0.0,0.00,0.00
171159994,21,59510,,,,,2016-02-05,2689.03,0.00,1182.07,N,0.0,295.52,0.00
171159994,21,59510,,,,,2016-02-05,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171175684,21,59510,,,,,2016-01-31,2710.84,0.00,1108.96,N,0.0,277.24,0.00
171175684,21,59510,,,,,2016-01-31,1089.16,0.00,1089.16,N,0.0,0.00,0.00
171157745,99,59510,,,,,2016-02-08,3850.00,0.00,2638.56,N,0.0,0.00,0.00
171156293,21,59510,,,,,2016-01-29,2184.00,0.00,1747.20,N,0.0,436.80,0.00
171156293,21,59510,,,,,2016-01-29,1716.00,0.00,1716.00,N,0.0,0.00,0.00
171184685,21,59510,,,,,2016-02-18,2684.19,0.00,1097.43,N,0.0,0.00,449.96
171184685,21,59510,,,,,2016-02-18,1215.81,0.00,1215.81,N,0.0,0.00,0.00
171184622,21,59510,,,,,2016-01-12,4407.17,0.00,1409.92,N,0.0,352.48,0.00
171184622,21,59510,,,,,2016-01-12,357.83,0.00,357.83,N,0.0,0.00,0.00
171173970,21,59510,,,,,2016-01-06,2689.03,0.00,1329.83,N,0.0,147.76,0.00
171173970,21,59510,,,,,2016-01-06,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171108933,11,59510,,,,,2016-01-04,2619.75,0.00,998.06,N,0.0,249.52,0.00
171108933,11,59510,,,,,2016-01-04,980.25,0.00,980.25,N,0.0,0.00,0.00
340423574,21,59510,,,,,2016-02-04,3900.00,2028.50,0.00,N,0.0,0.00,0.00
171056401,21,59510,,,,,2016-01-04,2689.03,0.00,0.00,N,0.0,0.00,1477.59
171056401,21,59510,,,,,2016-01-04,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171102679,21,59510,,,,,2016-01-11,2689.03,0.00,0.00,N,0.0,0.00,1477.59
171102679,21,59510,,,,,2016-01-11,1160.97,0.00,1160.97,N,0.0,0.00,0.00
306678225,21,59510,,,,,2016-07-11,4743.00,2451.78,0.00,N,0.0,258.57,0.00
171103095,21,59510,22,,,,2016-01-13,3602.03,0.00,1477.59,N,0.0,0.00,0.00
171103095,21,59510,22,,,,2016-01-13,1160.97,0.00,1160.97,N,0.0,0.00,0.00
357119550,21,59510,UC,,,,2016-07-01,3850.00,0.00,854.35,Y,0.0,0.00,1502.27
357119551,21,59510,UC,,,,2016-11-09,3850.00,0.00,2029.14,Y,0.0,0.00,0.00
171082475,21,59510,,,,,2016-01-11,4005.00,0.00,1991.98,N,0.0,497.99,864.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171214558,21,59510,,,,,2016-03-08,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171213348,21,59510,22,,,,2016-02-29,2987.45,0.00,1724.05,N,0.0,0.00,201.02
171213348,21,59510,22,,,,2016-02-29,1512.55,0.00,1512.55,N,0.0,0.00,0.00
171269130,21,59510,,,,,2016-04-07,2689.03,0.00,1034.31,N,0.0,443.28,0.00
171269130,21,59510,,,,,2016-04-07,1160.97,0.00,1160.97,N,0.0,0.00,0.00
340422949,21,59510,,,,,2016-02-29,4005.00,0.00,2028.50,N,0.0,0.00,0.00
171202717,21,59510,,,,,2016-02-11,2529.18,0.00,1502.65,N,0.0,375.66,0.00
171202717,21,59510,,,,,2016-02-11,1475.82,0.00,1475.82,N,0.0,0.00,0.00
171202360,21,59510,,,,,2016-03-05,2689.03,0.00,1477.59,N,0.0,0.00,0.00
171202360,21,59510,,,,,2016-03-05,1160.97,0.00,1160.97,N,0.0,0.00,0.00
357042557,21,59510,UC,,,,2016-10-17,3800.00,0.00,0.00,Y,0.0,0.00,144.45
171239156,21,59510,,,,,2016-03-16,2619.75,0.00,598.06,N,0.0,149.52,500.00
171239156,21,59510,,,,,2016-03-16,980.25,0.00,980.25,N,0.0,0.00,0.00
171198152,21,59510,,,,,2016-02-16,2710.84,0.00,1386.20,N,0.0,0.00,0.00
171198152,21,59510,,,,,2016-02-16,1089.16,0.00,1089.16,N,0.0,0.00,0.00
171268246,21,59510,,,,,2016-03-06,6308.00,0.00,0.00,N,0.0,0.00,2415.00
171194895,21,59510,,,,,2016-02-09,4005.00,0.00,0.00,N,0.0,0.00,0.00
171189417,21,59510,,,,,2016-02-19,3850.00,0.00,293.13,N,0.0,0.00,0.00
171189367,21,59510,,,,,2016-02-24,3850.00,0.00,0.00,N,0.0,0.00,0.00
171188123,21,59510,,,,,2016-02-18,3413.80,0.00,1249.92,N,0.0,138.88,0.00
171188123,21,59510,,,,,2016-02-18,1091.20,0.00,1091.20,N,0.0,0.00,0.00
171125385,21,59510,,,,,2016-01-20,2684.19,0.00,0.00,N,0.0,0.00,1547.39
171125229,21,59510,,,,,2016-01-18,1836.82,0.00,1103.28,N,0.0,122.59,0.00
171125229,21,59510,,,,,2016-01-18,963.18,0.00,963.18,N,0.0,0.00,0.00
171171556,99,59510,,,,,2016-02-08,3850.00,0.00,2638.56,N,0.0,0.00,0.00
171169542,21,59510,,,,,2016-02-05,2157.35,0.00,1327.01,N,0.0,0.00,0.00
171169542,21,59510,,,,,2016-02-05,1042.65,0.00,1042.65,N,0.0,0.00,0.00
171169542,21,59510,,,,,2016-02-05,2157.35,0.00,1327.01,N,0.0,0.00,0.00
171169542,21,59510,,,,,2016-02-05,1042.65,0.00,1042.65,N,0.0,0.00,0.00
171169031,21,59510,,,,,2016-02-15,843.32,0.00,843.32,N,0.0,0.00,0.00

#### The CPT4 modifications represent additional coding in the claim. While of potential use, they're unfortunately not used consistently between facilities and the columns are sparsely populated. There are very few rows (<30 out of a data frame with 6200+ rows) with CPT4 modifications. Drop them to simplify the process.

In [26]:
simplified_CPT4_df = edited_caesarian_df.drop(['CPT4_Mod1_Cd', 'CPT4_Mod2_Cd', 'CPT4_Mod3_Cd', 'CPT4_Mod4_Cd'], axis=1)
simplified_CPT4_df

,Place_of_Service_Cd,CPT4_ID,Service_Start_Dt,Charge_Amt,Prepaid_Amt,Plan_Paid_Amt,Capitation_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt
Claim_ID,,,,,,,,,,
340993570,21,59510,2016-07-29,3350.00,0.00,1669.58,N,0.0,715.54,715.54
350588632,21,59510,2016-06-27,3500.00,0.00,688.25,N,0.0,641.99,0.00
357047267,21,59510,2016-10-17,3586.00,0.00,2029.14,Y,0.0,0.00,0.00
340423363,21,59510,2016-02-21,3800.00,1932.28,96.22,N,0.0,0.00,0.00
171159994,21,59510,2016-02-05,2689.03,0.00,1182.07,N,0.0,295.52,0.00
171159994,21,59510,2016-02-05,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171175684,21,59510,2016-01-31,2710.84,0.00,1108.96,N,0.0,277.24,0.00
171175684,21,59510,2016-01-31,1089.16,0.00,1089.16,N,0.0,0.00,0.00
171157745,99,59510,2016-02-08,3850.00,0.00,2638.56,N,0.0,0.00,0.00
171156293,21,59510,2016-01-29,2184.00,0.00,1747.20,N,0.0,436.80,0.00
171156293,21,59510,2016-01-29,1716.00,0.00,1716.00,N,0.0,0.00,0.00
171184685,21,59510,2016-02-18,2684.19,0.00,1097.43,N,0.0,0.00,449.96
171184685,21,59510,2016-02-18,1215.81,0.00,1215.81,N,0.0,0.00,0.00
171184622,21,59510,2016-01-12,4407.17,0.00,1409.92,N,0.0,352.48,0.00
171184622,21,59510,2016-01-12,357.83,0.00,357.83,N,0.0,0.00,0.00
171173970,21,59510,2016-01-06,2689.03,0.00,1329.83,N,0.0,147.76,0.00
171173970,21,59510,2016-01-06,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171108933,11,59510,2016-01-04,2619.75,0.00,998.06,N,0.0,249.52,0.00
171108933,11,59510,2016-01-04,980.25,0.00,980.25,N,0.0,0.00,0.00
340423574,21,59510,2016-02-04,3900.00,2028.50,0.00,N,0.0,0.00,0.00
171056401,21,59510,2016-01-04,2689.03,0.00,0.00,N,0.0,0.00,1477.59
171056401,21,59510,2016-01-04,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171102679,21,59510,2016-01-11,2689.03,0.00,0.00,N,0.0,0.00,1477.59
171102679,21,59510,2016-01-11,1160.97,0.00,1160.97,N,0.0,0.00,0.00
306678225,21,59510,2016-07-11,4743.00,2451.78,0.00,N,0.0,258.57,0.00
171103095,21,59510,2016-01-13,3602.03,0.00,1477.59,N,0.0,0.00,0.00
171103095,21,59510,2016-01-13,1160.97,0.00,1160.97,N,0.0,0.00,0.00
357119550,21,59510,2016-07-01,3850.00,0.00,854.35,Y,0.0,0.00,1502.27
357119551,21,59510,2016-11-09,3850.00,0.00,2029.14,Y,0.0,0.00,0.00
171082475,21,59510,2016-01-11,4005.00,0.00,1991.98,N,0.0,497.99,864.16
...,...,...,...,...,...,...,...,...,...,...
171214558,21,59510,2016-03-08,1160.97,0.00,1160.97,N,0.0,0.00,0.00
171213348,21,59510,2016-02-29,2987.45,0.00,1724.05,N,0.0,0.00,201.02
171213348,21,59510,2016-02-29,1512.55,0.00,1512.55,N,0.0,0.00,0.00
171269130,21,59510,2016-04-07,2689.03,0.00,1034.31,N,0.0,443.28,0.00
171269130,21,59510,2016-04-07,1160.97,0.00,1160.97,N,0.0,0.00,0.00
340422949,21,59510,2016-02-29,4005.00,0.00,2028.50,N,0.0,0.00,0.00
171202717,21,59510,2016-02-11,2529.18,0.00,1502.65,N,0.0,375.66,0.00
171202717,21,59510,2016-02-11,1475.82,0.00,1475.82,N,0.0,0.00,0.00
171202360,21,59510,2016-03-05,2689.03,0.00,1477.59,N,0.0,0.00,0.00
171202360,21,59510,2016-03-05,1160.97,0.00,1160.97,N,0.0,0.00,0.00
357042557,21,59510,2016-10-17,3800.00,0.00,0.00,Y,0.0,0.00,144.45
171239156,21,59510,2016-03-16,2619.75,0.00,598.06,N,0.0,149.52,500.00
171239156,21,59510,2016-03-16,980.25,0.00,980.25,N,0.0,0.00,0.00
171198152,21,59510,2016-02-16,2710.84,0.00,1386.20,N,0.0,0.00,0.00
171198152,21,59510,2016-02-16,1089.16,0.00,1089.16,N,0.0,0.00,0.00
171268246,21,59510,2016-03-06,6308.00,0.00,0.00,N,0.0,0.00,2415.00
171194895,21,59510,2016-02-09,4005.00,0.00,0.00,N,0.0,0.00,0.00
171189417,21,59510,2016-02-19,3850.00,0.00,293.13,N,0.0,0.00,0.00
171189367,21,59510,2016-02-24,3850.00,0.00,0.00,N,0.0,0.00,0.00
171188123,21,59510,2016-02-18,3413.80,0.00,1249.92,N,0.0,138.88,0.00
171188123,21,59510,2016-02-18,1091.20,0.00,1091.20,N,0.0,0.00,0.00
171125385,21,59510,2016-01-20,2684.19,0.00,0.00,N,0.0,0.00,1547.39
171125229,21,59510,2016-01-18,1836.82,0.00,1103.28,N,0.0,122.59,0.00
171125229,21,59510,2016-01-18,963.18,0.00,963.18,N,0.0,0.00,0.00
171171556,99,59510,2016-02-08,3850.00,0.00,2638.56,N,0.0,0.00,0.00
171169542,21,59510,2016-02-05,2157.35,0.00,1327.01,N,0.0,0.00,0.00
171169542,21,59510,2016-02-05,1042.65,0.00,1042.65,N,0.0,0.00,0.00
171169542,21,59510,2016-02-05,2157.35,0.00,1327.01,N,0.0,0.00,0.00
171169542,21,59510,2016-02-05,1042.65,0.00,1042.65,N,0.0,0.00,0.00
171169031,21,59510,2016-02-15,843.32,0.00,843.32,N,0.0,0.00,0.00

## Adding Additional Columns from Another File

#### There are a few columns of potentially useful information in a different file. This is a massive file, so for efficiency's sake, it is easiest to focus specifically on claims that are the right procedure and match with the claims already present in the data frame.

In [27]:
with open("Claim_Medical_Header.csv") as file:
    with open("caesarian_claims.csv", "w") as output:
        #use with to make sure it automatically gets closed
        for i,line in enumerate(file):
            fields = line.split(",")
            if fields[0] in claims_of_interest:
                output.write(line)

FileNotFoundError: [Errno 2] No such file or directory: 'Claim_Medical_Header.csv'

In [28]:
data_from_claims_header = pd.read_csv('caesarian_claims.csv', header=None, index_col=[0])

#### By sorting for rows based on whether they're in the previous data frame or not, the column names were lost. The following code restores those column names manually.

In [29]:
data_from_claims_header.columns = [
 'Claim_Type_Cd',
 'Claim_Type_Desc',
 'Admit_Type_Cd',
 'Admit_Type_Desc',
 'Admit_Source_Cd',
 'Admit_Source_Desc',
 'Discharge_Status_Cd',
 'Discharge_Status_Desc',
 'Bill_Type_Cd',
 'Third_Party_Liability_Cd',
 'Third_Party_Liability_Desc',
 'E_Cd',
 'Service_Start_Dt',
 'Charge_Amt',
 'Plan_Paid_Amt',
 'Prepaid_Amt',
 'Copay_Amt',
 'Coinsurance_Amt',
 'Line_of_Business_Cd',
 'Capitation_Flag',
 'Admission_Dx_ID',
 'Principal_Dx_ID',
 'Primary_Proc_ID',
 'Member_Age_Years',
 'Length_of_Stay',
 'ER_Flag',
 'Line_Count',
 'Deductible_Amt',
 'Dental_Flag',
 'Service_Start_Year',
 'Small_Area_Cd',
 'Gender_Cd',
 'Member_Gender_Desc']

data_from_claims_header

,Claim_Type_Cd,Claim_Type_Desc,Admit_Type_Cd,Admit_Type_Desc,Admit_Source_Cd,Admit_Source_Desc,Discharge_Status_Cd,Discharge_Status_Desc,Bill_Type_Cd,Third_Party_Liability_Cd,...,Member_Age_Years,Length_of_Stay,ER_Flag,Line_Count,Deductible_Amt,Dental_Flag,Service_Start_Year,Small_Area_Cd,Gender_Cd,Member_Gender_Desc
0,,,,,,,,,,,,,,,,,,,,,
171290596,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,45,0.0,N,1,0.00,N,2016,56.0,F,Female
238759510,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,21,0.0,N,1,0.00,N,2016,16.0,F,Female
280709565,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,32,0.0,N,1,0.00,N,2016,17.0,F,Female
282874855,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,29,0.0,N,1,0.00,N,2016,41.0,F,Female
280377363,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,41,0.0,N,2,0.00,N,2016,22.0,F,Female
282207917,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,2,...,22,0.0,N,1,0.00,N,2016,12.0,F,Female
281750562,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,30,0.0,N,1,0.00,N,2016,30.1,F,Female
282307730,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,37,0.0,N,1,0.00,N,2016,41.0,F,Female
249268529,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,39,0.0,N,1,0.00,N,2016,51.0,F,Female
282347257,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,30,0.0,N,1,1231.27,N,2016,60.0,F,Female
280668935,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,28,0.0,N,1,0.00,N,2016,4.0,F,Female
282384380,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,31,0.0,N,1,0.00,N,2016,3.0,F,Female
278801433,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,34,0.0,N,2,0.00,N,2016,39.0,F,Female
171525953,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,38,0.0,N,2,935.35,N,2016,49.0,F,Female
279361215,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,31,0.0,N,1,0.00,N,2016,30.0,F,Female
139773905,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,25,0.0,N,1,1828.60,N,2016,38.0,F,Female
139905888,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,30,0.0,N,1,0.00,N,2016,36.0,F,Female
139934599,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,38,0.0,N,1,0.00,N,2016,2.0,F,Female
139935657,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,30,0.0,N,1,892.15,N,2016,39.0,F,Female
139962718,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,34,0.0,N,1,0.00,N,2016,33.2,F,Female
139987927,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,20,0.0,N,1,1500.00,N,2016,54.0,F,Female
140066615,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,30,0.0,N,1,0.00,N,2016,18.0,F,Female
140095735,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,32,0.0,N,1,846.41,N,2016,23.1,F,Female
140148389,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,2,...,21,0.0,N,1,0.00,N,2016,25.0,F,Female
140121674,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,23,0.0,N,1,1000.00,N,2016,48.0,F,Female
140148861,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,22,0.0,N,1,1420.43,N,2016,11.0,F,Female
140227711,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,38,0.0,N,1,1365.00,N,2016,22.0,F,Female
140254506,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,39,0.0,N,1,821.59,N,2016,29.1,F,Female
140254510,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,35,0.0,N,1,0.00,N,2016,35.0,F,Female
140256215,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,25,0.0,N,1,0.00,N,2016,34.2,F,Female
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357726580,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,30,Still Pt,UK,1,...,23,0.0,N,1,0.00,N,2016,NaN,F,Female
357884290,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,30,Still Pt,UK,1,...,23,0.0,N,1,0.00,N,2016,32.0,F,Female
357862945,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,30,Still Pt,UK,1,...,19,0.0,N,2,1351.24,N,2016,4.0,F,Female
358646582,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,34,0.0,N,2,0.00,N,2016,4.0,F,Female
358673432,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,18,0.0,N,1,0.00,N,2016,4.0,F,Female
358655569,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,26,0.0,N,1,0.00,N,2016,12.0,F,Female
358622911,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,26,0.0,N,1,0.00,N,2016,20.0,F,Female
358674330,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,42,0.0,N,1,0.00,N,2016,31.0,F,Female
358623708,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,32,0.0,N,1,0.00,N,2016,NaN,F,Female
358625027,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,30,0.0,N,1,0.00,N,2016,NaN,F,Female
358625665,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,22,0.0,N,1,0.00,N,2016,17.0,F,Female
358626469,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,33,0.0,N,1,0.00,N,2016,NaN,F,Female
358627530,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,24,0.0,N,1,0.00,N,2016,NaN,F,Female
358629827,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,30,0.0,N,1,0.00,N,2016,59.0,F,Female
358630583,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,38,0.0,N,1,0.00,N,2016,NaN,F,Female
358631649,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,18,0.0,N,1,0.00,N,2016,NaN,F,Female
358637767,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,30,0.0,N,1,0.00,N,2016,1.0,F,Female
358641178,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,29,0.0,N,2,0.00,N,2016,11.0,F,Female
358669755,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,18,0.0,N,1,0.00,N,2016,4.0,F,Female
358693175,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,26,0.0,N,1,0.00,N,2016,12.0,F,Female
358722777,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,33,0.0,N,1,0.00,N,2016,3.0,F,Female
358725258,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,29,0.0,N,1,0.00,N,2016,60.0,F,Female
358728117,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,21,0.0,N,1,0.00,N,2016,40.0,F,Female
358995198,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,27,0.0,N,1,0.00,N,2016,16.0,F,Female
358974229,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,24,0.0,N,1,0.00,N,2016,NaN,F,Female
358992612,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,28,0.0,N,2,0.00,N,2016,NaN,F,Female
358950117,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,24,0.0,N,1,0.00,N,2016,NaN,F,Female
358955037,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,25,0.0,N,2,0.00,N,2016,40.0,F,Female
358999822,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,37,0.0,N,2,0.00,N,2016,NaN,F,Female
359004221,P,Professional,9,INFORMATION NOT AVAILABLE,9,Information Not Available,0,Unknown,UK,1,...,22,0.0,N,1,0.00,N,2016,30.1,F,Female

#### Many of these columns are duplicates of columns already in the dataframe, and many have single values/missing information that limits their usefulness. The two columns of potential interest to are  Member_Age_Years (age of the patient)  and Small_Area_Cd (which is the taxonomy for where the procedure took place). Isolate these columns into their own data frame, then

In [30]:
additional_columns = data_from_claims_header.filter(['Member_Age_Years','Small_Area_Cd'], axis=1)
additional_columns

           Member_Age_Years  Small_Area_Cd
0
171290596                45           56.0
238759510                21           16.0
280709565                32           17.0
282874855                29           41.0
280377363                41           22.0
282207917                22           12.0
281750562                30           30.1
282307730                37           41.0
249268529                39           51.0
282347257                30           60.0
280668935                28            4.0
282384380                31            3.0
278801433                34           39.0
171525953                38           49.0
279361215                31           30.0
139773905                25           38.0
139905888                30           36.0
139934599                38            2.0
139935657                30           39.0
139962718                34           33.2
139987927                20           54.0
140066615                30           18.0
140095735                32           23.1
140148389                21           25.0
140121674                23           48.0
140148861                22           11.0
140227711                38           22.0
140254506                39           29.1
140254510                35           35.0
140256215                25           34.2
...                     ...            ...
357726580                23            NaN
357884290                23           32.0
357862945                19            4.0
358646582                34            4.0
358673432                18            4.0
358655569                26           12.0
358622911                26           20.0
358674330                42           31.0
358623708                32            NaN
358625027                30            NaN
358625665                22           17.0
358626469                33            NaN
358627530                24            NaN
358629827                30           59.0
358630583                38            NaN
358631649                18            NaN
358637767                30            1.0
358641178                29           11.0
358669755                18            4.0
358693175                26           12.0
358722777                33            3.0
358725258                29           60.0
358728117                21           40.0
358995198                27           16.0
358974229                24            NaN
358992612                28            NaN
358950117                24            NaN
358955037                25           40.0
358999822                37            NaN
359004221                22           30.1

[5923 rows x 2 columns]

#### To add the additional columns onto the data frame of interest, perform a join as follows:

In [34]:
additional_header_df = simplified_CPT4_df.join(additional_columns)
additional_header_df

,Place_of_Service_Cd,CPT4_ID,Service_Start_Dt,Charge_Amt,Prepaid_Amt,Plan_Paid_Amt,Capitation_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt,Member_Age_Years,Small_Area_Cd
139773905,21,59510,2016-12-13,4005.00,0.0,1219.06,N,0.0,0.00,1828.60,25,38.0
139905888,21,59510,2016-04-20,3850.00,0.0,2602.60,N,0.0,354.90,0.00,30,36.0
139934599,21,59510,2016-08-02,3200.00,0.0,1617.52,N,0.0,429.98,0.00,38,2.0
139935657,21,59510,2016-11-07,3800.00,0.0,1382.85,N,0.0,0.00,892.15,30,39.0
139962718,21,59510,2016-12-05,3600.00,0.0,2138.50,N,0.0,136.50,0.00,34,33.2
139987927,21,59510,2016-07-17,4743.00,0.0,1478.02,N,0.0,104.93,1500.00,20,54.0
140066615,11,59510,2016-03-18,3850.00,0.0,2957.50,N,0.0,0.00,0.00,30,18.0
140095735,21,59510,2016-12-23,6308.00,0.0,1619.64,N,0.0,143.91,846.41,32,23.1
140121674,21,59510,2016-09-16,4005.00,0.0,1881.94,N,0.0,165.72,1000.00,23,48.0
140148389,21,59510,2016-05-24,6308.00,0.0,724.50,N,0.0,136.50,0.00,21,25.0
140148861,21,59510,2016-07-27,3586.00,0.0,1452.16,N,0.0,68.89,1420.43,22,11.0
140227711,21,59510,2016-03-12,6308.00,0.0,910.00,N,0.0,0.00,1365.00,38,22.0
140254506,21,59510,2016-02-12,3600.00,0.0,1290.39,N,0.0,163.02,821.59,39,29.1
140254510,21,59510,2016-03-04,4837.26,0.0,2981.40,N,0.0,0.00,0.00,35,35.0
140256215,21,59510,2016-07-26,3600.00,0.0,2275.00,N,0.0,0.00,0.00,25,34.2
140283771,21,59510,2016-10-06,3586.00,0.0,2588.50,N,0.0,352.98,0.00,26,5.0
140309854,21,59510,2016-09-07,3600.00,0.0,910.00,N,0.0,0.00,1365.00,37,39.0
140360892,21,59510,2016-01-05,4005.00,0.0,2681.94,N,0.0,365.72,0.00,32,25.0
140361898,21,59510,2016-06-28,3900.00,0.0,1933.75,N,0.0,341.25,0.00,37,49.0
140381155,21,59510,2016-01-08,3800.00,0.0,2275.00,N,0.0,0.00,0.00,33,12.0
140383367,21,59510,2016-08-18,4837.26,0.0,2392.87,N,0.0,235.39,1000.00,30,40.0
140442362,21,59510,2016-02-29,3605.00,0.0,1865.50,N,0.0,409.50,0.00,34,39.0
140470699,21,59510,2016-08-08,3900.00,0.0,2782.78,N,0.0,379.47,0.00,23,12.0
140471091,21,59510,2016-11-25,6308.00,0.0,2296.76,N,0.0,313.20,0.00,27,28.0
140471745,21,59510,2016-11-11,3586.00,0.0,2318.01,N,0.0,147.96,0.00,31,8.0
140524882,21,59510,2016-11-30,4837.26,0.0,3858.69,N,0.0,526.18,0.00,33,16.0
140570010,21,59510,2016-03-07,4680.00,0.0,2616.25,N,0.0,0.00,0.00,30,48.0
140570239,21,59510,2016-06-29,6308.00,0.0,2551.96,N,0.0,348.00,0.00,39,26.0
140572241,21,59510,2016-09-20,3600.00,0.0,2275.00,N,0.0,0.00,0.00,36,39.0
140572591,21,59510,2016-10-31,4837.26,0.0,3192.87,N,0.0,435.39,0.00,27,53.0
...,...,...,...,...,...,...,...,...,...,...,...,...
357726580,21,59510,2016-09-13,3850.00,0.0,0.00,Y,0.0,0.00,0.00,23,NaN
357862945,21,59510,2016-08-02,3850.00,0.0,436.32,Y,0.0,0.00,675.62,19,4.0
357884290,21,59510,2016-11-21,3850.00,0.0,2029.14,Y,0.0,0.00,0.00,23,32.0
358622911,21,59510,2016-06-10,4005.00,0.0,2231.35,N,0.0,0.00,0.00,26,20.0
358623708,21,59510,2016-07-03,4837.26,0.0,2029.14,N,0.0,0.00,0.00,32,NaN
358625027,21,59510,2016-06-30,4837.26,0.0,2028.50,N,0.0,0.00,0.00,30,NaN
358625665,21,59510,2016-08-09,4837.26,0.0,2029.14,N,0.0,0.00,0.00,22,17.0
358626469,21,59510,2016-08-22,4005.00,0.0,2232.05,N,0.0,0.00,0.00,33,NaN
358627530,21,59510,2016-06-10,3600.00,0.0,2028.50,N,0.0,0.00,0.00,24,NaN
358629827,21,59510,2016-10-27,3850.00,0.0,2029.14,N,0.0,0.00,0.00,30,59.0
358630583,21,59510,2016-11-03,4837.26,0.0,2028.50,N,0.0,0.00,0.00,38,NaN
358631649,21,59510,2016-11-10,3950.00,0.0,2385.52,N,0.0,0.00,0.00,18,NaN
358637767,21,59510,2016-08-03,3650.00,0.0,1800.00,N,0.0,0.00,0.00,30,1.0
358641178,21,59510,2016-04-08,4505.00,0.0,91.90,N,0.0,0.00,0.00,29,11.0
358646582,21,59510,2016-12-02,3850.00,0.0,2029.14,N,0.0,0.00,0.00,34,4.0
358655569,21,59510,2016-12-14,3754.00,0.0,2029.14,N,0.0,0.00,0.00,26,12.0
358669755,21,59510,2016-08-20,385.00,0.0,385.00,N,0.0,0.00,0.00,18,4.0
358673432,21,59510,2016-08-20,3850.00,0.0,2029.14,N,0.0,0.00,0.00,18,4.0
358674330,21,59510,2016-11-26,4837.26,0.0,2029.14,N,0.0,0.00,0.00,42,31.0
358693175,21,59510,2016-09-13,4505.00,0.0,2000.00,N,0.0,0.00,0.00,26,12.0
358722777,21,59510,2016-09-27,3850.00,0.0,2029.14,N,0.0,0.00,0.00,33,3.0
358725258,21,59510,2016-12-20,3850.00,0.0,2029.14,N,0.0,0.00,0.00,29,60.0
358728117,21,59510,2016-02-22,3605.00,0.0,38.32,N,0.0,0.00,0.00,21,40.0
358950117,21,59510,2016-06-10,3900.00,0.0,3374.83,N,0.0,0.00,0.00,24,NaN
358955037,21,59510,2016-07-31,3700.00,0.0,3374.83,N,0.0,0.00,0.00,25,40.0
358974229,21,59510,2016-01-30,4837.26,0.0,3548.02,N,0.0,0.00,0.00,24,NaN
358992612,21,59510,2016-11-15,3850.00,0.0,3374.83,N,0.0,0.00,0.00,28,NaN
358995198,21,59510,2016-09-27,3900.00,0.0,3422.09,N,0.0,0.00,0.00,27,16.0
358999822,21,59510,2016-12-29,3600.00,0.0,3375.25,N,0.0,0.00,0.00,37,NaN
359004221,21,59510,2016-01-30,3350.00,0.0,3310.00,N,40.0,0.00,0.00,22,30.1

## Feature Engineering

#### Feature Engineering is the process of creating the features necessary for machine learning algorithms to work. It relies on a combination of insight from domain knowledge and finagling to transform the raw data into indicators that improve the predictive accuracy of the model on test data the model hasn't seen yet.

#### A To Do List to get the data frame ready for modeling

* Categorize 'Date_of_Service' as a weekend or not; Create a binary 
* Add columns to turn the following into numeric binaries (algorithms work best with numeric data):
    * Capitation Flag
    * Coinsurance
    * Prepaid
    * Deductible
    * CoPay
    * Hospital v. Non-Hospital
* Additional get_dummies for location (big_city or not; mid_sized_city or not; rural_or_not)

In [ ]:
#create binaries 
additional_header_df['Prepaid_or_not'] = (additional_header_df['Prepaid_Amt'] > 0).astype(int)
#Repeat for other columns
additional_header_df['Deductible_or_Not'] = (additional_header_df['Deductible_Amt'] >0).astype(int)
additional_header_df['Coinsurance_Amt'] = (additional_header_df['Coinsurance_Amt'] >0).astype(int)
additional_header_df['Copay_or_not'] = (additional_header_df['Copay_Amt'] >0).astype(int)
additional_header_df['Capitation_Flag_Binary'] = (additional_header_df['Capitation_Flag'] == 'Y').astype(int)
#Take a look to make sure the columns have been created as intended
additional_header_df.head()

In [46]:
#Differentiate between weekends and non-weekends- make a binary column for weekends
is_saturday = pd.to_datetime(additional_header_df['Service_Start_Dt']).dt.dayofweek == 5
is_sunday = pd.to_datetime(additional_header_df['Service_Start_Dt']).dt.dayofweek == 6
is_weekend = is_saturday | is_sunday

In [47]:
is_weekend.astype(int)
additional_header_df['is_weekend'] = (is_weekend).astype(int)
additional_header_df.head()

,Place_of_Service_Cd,CPT4_ID,Service_Start_Dt,Charge_Amt,Prepaid_Amt,Plan_Paid_Amt,Capitation_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt,Member_Age_Years,Small_Area_Cd,inpatient_hospital,small_city,large_city,rural,is_weekend
139773905,21,59510,2016-12-13,4005.0,0.0,1219.06,N,0.0,0.00,1828.60,25,38.0,0,1,0,0,0
139905888,21,59510,2016-04-20,3850.0,0.0,2602.60,N,0.0,354.90,0.00,30,36.0,0,1,0,0,0
139934599,21,59510,2016-08-02,3200.0,0.0,1617.52,N,0.0,429.98,0.00,38,2.0,0,0,0,1,0
139935657,21,59510,2016-11-07,3800.0,0.0,1382.85,N,0.0,0.00,892.15,30,39.0,0,1,0,0,0
139962718,21,59510,2016-12-05,3600.0,0.0,2138.50,N,0.0,136.50,0.00,34,33.2,0,0,1,0,0

#### Overwhelmingly the procedure was performed at an Inpatient Hospital. Because of this, it makes good sense to categorize the setting of the procedure  as hospital or not hospital

##### Categorical Definitions for Place_of_Service_Cd

* 11 - Office 
* 12 - Home 
* 21 - Inpatient Hospital 
* 22 - On-campus Outpatient 
* 23 - ER 
* 99 - other

In [48]:
additional_header_df['inpatient_hospital'] = np.where(additional_header_df['Place_of_Service_Cd']==1, '1', '0').astype(int)
additional_header_df

,Place_of_Service_Cd,CPT4_ID,Service_Start_Dt,Charge_Amt,Prepaid_Amt,Plan_Paid_Amt,Capitation_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt,Member_Age_Years,Small_Area_Cd,inpatient_hospital,small_city,large_city,rural,is_weekend
139773905,21,59510,2016-12-13,4005.00,0.0,1219.06,N,0.0,0.00,1828.60,25,38.0,0,1,0,0,0
139905888,21,59510,2016-04-20,3850.00,0.0,2602.60,N,0.0,354.90,0.00,30,36.0,0,1,0,0,0
139934599,21,59510,2016-08-02,3200.00,0.0,1617.52,N,0.0,429.98,0.00,38,2.0,0,0,0,1,0
139935657,21,59510,2016-11-07,3800.00,0.0,1382.85,N,0.0,0.00,892.15,30,39.0,0,1,0,0,0
139962718,21,59510,2016-12-05,3600.00,0.0,2138.50,N,0.0,136.50,0.00,34,33.2,0,0,1,0,0
139987927,21,59510,2016-07-17,4743.00,0.0,1478.02,N,0.0,104.93,1500.00,20,54.0,0,0,0,1,1
140066615,11,59510,2016-03-18,3850.00,0.0,2957.50,N,0.0,0.00,0.00,30,18.0,0,0,1,0,0
140095735,21,59510,2016-12-23,6308.00,0.0,1619.64,N,0.0,143.91,846.41,32,23.1,0,0,1,0,0
140121674,21,59510,2016-09-16,4005.00,0.0,1881.94,N,0.0,165.72,1000.00,23,48.0,0,1,1,0,0
140148389,21,59510,2016-05-24,6308.00,0.0,724.50,N,0.0,136.50,0.00,21,25.0,0,0,1,0,0
140148861,21,59510,2016-07-27,3586.00,0.0,1452.16,N,0.0,68.89,1420.43,22,11.0,0,1,0,0,0
140227711,21,59510,2016-03-12,6308.00,0.0,910.00,N,0.0,0.00,1365.00,38,22.0,0,0,1,0,1
140254506,21,59510,2016-02-12,3600.00,0.0,1290.39,N,0.0,163.02,821.59,39,29.1,0,1,0,0,0
140254510,21,59510,2016-03-04,4837.26,0.0,2981.40,N,0.0,0.00,0.00,35,35.0,0,0,1,0,0
140256215,21,59510,2016-07-26,3600.00,0.0,2275.00,N,0.0,0.00,0.00,25,34.2,0,0,1,0,0
140283771,21,59510,2016-10-06,3586.00,0.0,2588.50,N,0.0,352.98,0.00,26,5.0,0,1,0,0,0
140309854,21,59510,2016-09-07,3600.00,0.0,910.00,N,0.0,0.00,1365.00,37,39.0,0,1,0,0,0
140360892,21,59510,2016-01-05,4005.00,0.0,2681.94,N,0.0,365.72,0.00,32,25.0,0,0,1,0,0
140361898,21,59510,2016-06-28,3900.00,0.0,1933.75,N,0.0,341.25,0.00,37,49.0,0,0,1,0,0
140381155,21,59510,2016-01-08,3800.00,0.0,2275.00,N,0.0,0.00,0.00,33,12.0,0,1,0,0,0
140383367,21,59510,2016-08-18,4837.26,0.0,2392.87,N,0.0,235.39,1000.00,30,40.0,0,0,0,1,0
140442362,21,59510,2016-02-29,3605.00,0.0,1865.50,N,0.0,409.50,0.00,34,39.0,0,1,0,0,0
140470699,21,59510,2016-08-08,3900.00,0.0,2782.78,N,0.0,379.47,0.00,23,12.0,0,1,0,0,0
140471091,21,59510,2016-11-25,6308.00,0.0,2296.76,N,0.0,313.20,0.00,27,28.0,0,1,0,0,0
140471745,21,59510,2016-11-11,3586.00,0.0,2318.01,N,0.0,147.96,0.00,31,8.0,0,1,0,0,0
140524882,21,59510,2016-11-30,4837.26,0.0,3858.69,N,0.0,526.18,0.00,33,16.0,0,1,0,0,0
140570010,21,59510,2016-03-07,4680.00,0.0,2616.25,N,0.0,0.00,0.00,30,48.0,0,1,1,0,0
140570239,21,59510,2016-06-29,6308.00,0.0,2551.96,N,0.0,348.00,0.00,39,26.0,0,1,0,0,0
140572241,21,59510,2016-09-20,3600.00,0.0,2275.00,N,0.0,0.00,0.00,36,39.0,0,1,0,0,0
140572591,21,59510,2016-10-31,4837.26,0.0,3192.87,N,0.0,435.39,0.00,27,53.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357726580,21,59510,2016-09-13,3850.00,0.0,0.00,Y,0.0,0.00,0.00,23,NaN,0,0,0,0,0
357862945,21,59510,2016-08-02,3850.00,0.0,436.32,Y,0.0,0.00,675.62,19,4.0,0,0,0,1,0
357884290,21,59510,2016-11-21,3850.00,0.0,2029.14,Y,0.0,0.00,0.00,23,32.0,0,1,0,0,0
358622911,21,59510,2016-06-10,4005.00,0.0,2231.35,N,0.0,0.00,0.00,26,20.0,0,1,0,0,0
358623708,21,59510,2016-07-03,4837.26,0.0,2029.14,N,0.0,0.00,0.00,32,NaN,0,0,0,0,1
358625027,21,59510,2016-06-30,4837.26,0.0,2028.50,N,0.0,0.00,0.00,30,NaN,0,0,0,0,0
358625665,21,59510,2016-08-09,4837.26,0.0,2029.14,N,0.0,0.00,0.00,22,17.0,0,0,1,0,0
358626469,21,59510,2016-08-22,4005.00,0.0,2232.05,N,0.0,0.00,0.00,33,NaN,0,0,0,0,0
358627530,21,59510,2016-06-10,3600.00,0.0,2028.50,N,0.0,0.00,0.00,24,NaN,0,0,0,0,0
358629827,21,59510,2016-10-27,3850.00,0.0,2029.14,N,0.0,0.00,0.00,30,59.0,0,0,0,0,0
358630583,21,59510,2016-11-03,4837.26,0.0,2028.50,N,0.0,0.00,0.00,38,NaN,0,0,0,0,0
358631649,21,59510,2016-11-10,3950.00,0.0,2385.52,N,0.0,0.00,0.00,18,NaN,0,0,0,0,0
358637767,21,59510,2016-08-03,3650.00,0.0,1800.00,N,0.0,0.00,0.00,30,1.0,0,1,0,0,0
358641178,21,59510,2016-04-08,4505.00,0.0,91.90,N,0.0,0.00,0.00,29,11.0,0,1,0,0,0
358646582,21,59510,2016-12-02,3850.00,0.0,2029.14,N,0.0,0.00,0.00,34,4.0,0,0,0,1,0
358655569,21,59510,2016-12-14,3754.00,0.0,2029.14,N,0.0,0.00,0.00,26,12.0,0,1,0,0,0
358669755,21,59510,2016-08-20,385.00,0.0,385.00,N,0.0,0.00,0.00,18,4.0,0,0,0,1,1
358673432,21,59510,2016-08-20,3850.00,0.0,2029.14,N,0.0,0.00,0.00,18,4.0,0,0,0,1,1
358674330,21,59510,2016-11-26,4837.26,0.0,2029.14,N,0.0,0.00,0.00,42,31.0,0,1,0,0,1
358693175,21,59510,2016-09-13,4505.00,0.0,2000.00,N,0.0,0.00,0.00,26,12.0,0,1,0,0,0
358722777,21,59510,2016-09-27,3850.00,0.0,2029.14,N,0.0,0.00,0.00,33,3.0,0,1,0,0,0
358725258,21,59510,2016-12-20,3850.00,0.0,2029.14,N,0.0,0.00,0.00,29,60.0,0,1,0,0,0
358728117,21,59510,2016-02-22,3605.00,0.0,38.32,N,0.0,0.00,0.00,21,40.0,0,0,0,1,0
358950117,21,59510,2016-06-10,3900.00,0.0,3374.83,N,0.0,0.00,0.00,24,NaN,0,0,0,0,0
358955037,21,59510,2016-07-31,3700.00,0.0,3374.83,N,0.0,0.00,0.00,25,40.0,0,0,0,1,1
358974229,21,59510,2016-01-30,4837.26,0.0,3548.02,N,0.0,0.00,0.00,24,NaN,0,0,0,0,1
358992612,21,59510,2016-11-15,3850.00,0.0,3374.83,N,0.0,0.00,0.00,28,NaN,0,0,0,0,0
358995198,21,59510,2016-09-27,3900.00,0.0,3422.09,N,0.0,0.00,0.00,27,16.0,0,1,0,0,0
358999822,21,59510,2016-12-29,3600.00,0.0,3375.25,N,0.0,0.00,0.00,37,NaN,0,0,0,0,0
359004221,21,59510,2016-01-30,3350.00,0.0,3310.00,N,40.0,0.00,0.00,22,30.1,0,1,0,0,1

### Handling the Geographic Data
#### There's too many codes in the Small_Area_Cd taxonomy to create a get_dummies column for all of them. Instead, to simplify handling the data, it makes sense to split them into three groups based off of population from the 2010 census in each area. These splits were:
* Big City (Population >100,000): 15, 17, 18, 19, 21, 24, 25, 22, 23.1, 47, 48, 49, 33.2, 34.1, 34.2, 35
* Small City (Population < 100,000; referenced as a city not a county): 1, 3, 5, 6, 8, 9, 10, 11, 12, 13, 14, 16, 20, 26, 27, 28, 28, 29.1, 30.1, 31, 32, 36, 37, 38, 39, 41, 42, 43, 44, 45, 46, 48, 58, 60
* Rural (only referenced as a county): 2, 4, 6, 40, 50, 51, 52, 53, 54, 55, 56, 57, 61

In [49]:
# Create a function to turn location information into a binary for each of the splits
def print_col_value(x):
    small_city_val = [1, 3, 5, 6, 8, 9, 10, 11, 12, 13, 14, 16, 20, 
                  26, 27, 28, 28, 29.1, 30.1, 31, 32, 36, 37, 38, 
                  39, 41, 42, 43, 44, 45, 46, 48, 58, 60]
    
    if x in small_city_val:
        return 1
    else:
        return 0

In [50]:
def large_col_value(x):
    big_city = [15, 17, 18, 19, 21, 24, 25, 22, 23.1, 47, 48, 49, 33.2, 34.1, 34.2, 35]
    
    if x in big_city:
        return 1
    else:
        return 0

In [51]:
def rural_col_value(x):
    rural_val = [2, 4, 6, 40, 50, 51, 52, 53, 54, 55, 56, 57, 61]
    
    if x in rural_val:
        return 1
    else:
        return 0

In [52]:
additional_header_df['small_city'] = additional_header_df['Small_Area_Cd'].apply(lambda x: print_col_value(x))

In [53]:
additional_header_df['large_city'] = additional_header_df['Small_Area_Cd'].apply(lambda x: large_col_value(x))

In [54]:
additional_header_df['rural'] = additional_header_df['Small_Area_Cd'].apply(lambda x: rural_col_value(x))

In [55]:
additional_header_df.head()

,Place_of_Service_Cd,CPT4_ID,Service_Start_Dt,Charge_Amt,Prepaid_Amt,Plan_Paid_Amt,Capitation_Flag,Copay_Amt,Coinsurance_Amt,Deductible_Amt,Member_Age_Years,Small_Area_Cd,inpatient_hospital,small_city,large_city,rural,is_weekend
139773905,21,59510,2016-12-13,4005.0,0.0,1219.06,N,0.0,0.00,1828.60,25,38.0,0,1,0,0,0
139905888,21,59510,2016-04-20,3850.0,0.0,2602.60,N,0.0,354.90,0.00,30,36.0,0,1,0,0,0
139934599,21,59510,2016-08-02,3200.0,0.0,1617.52,N,0.0,429.98,0.00,38,2.0,0,0,0,1,0
139935657,21,59510,2016-11-07,3800.0,0.0,1382.85,N,0.0,0.00,892.15,30,39.0,0,1,0,0,0
139962718,21,59510,2016-12-05,3600.0,0.0,2138.50,N,0.0,136.50,0.00,34,33.2,0,0,1,0,0

### Data is ready for modeling!